body{
  margin:0;
  font-size: 16px;
}

div{
  position:relative;
  box-sizing:border-box;
}
.container{
  width:100%;
  min-height: 100vh;
  padding:0;
}

.container:after{
  content: '';
  clear: both;
  display: table;
}

.container>div{
  float: left;
  height: auto;
}

.spaceship-list{
  width: 100%;
  background: url(/img/background.jpg);
  color: #fff;
  overflow: auto
}

.one-spaceship{
  width: 100%;
  background-color: #000;
  color: #fff;
}

.searchbar{
  position: relative;
}

#search-text,
#search-button {
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fae01f;
  outline: none;
}

#search-text {
 width:150px;
}

#search-button{
  background: #fae01f;
}

#search-button:hover{
  cursor: pointer;
}

@media(min-width:1200px){
  .spaceship-list{
    width: 75%;
  }

  .one-spaceship{
    width: 25%;
  }

  .container>div{
    height: 100vh;
  }
  
  .searchbar{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.spaceship-item img {
  border: 2px solid white;
}
.stat-image-div img{
  margin: 0 40px;
  border: 2px solid white;
}
.right {
  width: 50%;
  float: right;
  text-align: right;
}

.left {
  width: 50%;
  float: left;
}
.clear-div {
  clear: both;
}
p {
  margin: 0;
}
.spaceship-item {
  padding: 20px 40px;
}
#spaceshipDetails {
  padding: 40px;
}